/* App.css */
body {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

header, footer {
    background-image: url('../images/circuit-lines.png');
    background-size: cover;
    justify-content: space-between;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #333 0.1;
    color: white;
}

.header-left, .header-right {
    align-items: center;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    header, footer {
        padding: 15px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
