/* App.css */
body {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

header, footer {
    background-image: url('../images/circuit-lines.png');
    background-size: cover;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    padding: 20px;
    color: white;
}
.header-left{
    margin-left: 15%;
}
.header-right{
    margin-right: 15%;
}
.header-left, .header-right {
    align-items: center;
}

.picperf{
    width: 150px;
    height: 150px;
    border: 5px solid ;
    border-radius: 25%;
    box-shadow: 
    0 0 10px #8B008B, 
    0 0 20px #8B008B, 
    0 0 30px #8B008B, 
    0 0 40px #8B008B, 
    0 0 50px #8B008B;
}
.title-txt{
    padding: 5px;
    background-color: #4B0082;
    border-radius: 35%;
    box-shadow: 
    0 0 10px #8B008B, 
    0 0 20px #8B008B, 
    0 0 30px #8B008B, 
    0 0 40px #8B008B, 
    0 0 50px #8B008B;
}

.title-txt-rsm{
    padding: 10px;
    background-color: #4B0082;
    border-radius: 35%;
    box-shadow: 
    0 0 10px #8B008B, 
    0 0 20px #8B008B, 
    0 0 30px #8B008B, 
    0 0 40px #8B008B, 
    0 0 50px #8B008B;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    header, footer {
        padding: 15px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
